<!DOCTYPE html>
<html lang="en">
     <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Project</title>
    <h1>Text Engage</h1>
</head>
<body>
    <label for="text">Enter your text</label>

<textarea
    id="text"
    name="text"
    rows="10"
    cols="60"
    placeholder="Type or paste your text here..."
></textarea>
 <button type="submit">
    Analyze
    </button>
    results:  <link rel="stylesheet" href="">
    <output></output>
</body>
</html>