textarea{
    width:100%;
    height:250px;
    padding:15px;
    border:1px solid #d1d5db;
    border-radius:12px;
    font-size:16px;
    resize:none;
    outline:none;
}
textarea:focus{
    border-color:#2563eb;
}
title{
    text-align:center;
    font-size:30px;
    font-weight:600;
    color:#2563eb;
}
h1{
    text-align:center;
    font-size:30px;
    font-weight:600;
    color:#2563eb;
} 
label{
    font-size:18px;
    font-weight:500;
    color:#374151;
}
background{
    background-color:#1d42d2;
}
textcolor{
    color:#000000;
}